name:  Test Build

on: workflow_dispatch

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Python ${{ matrix.python }} on ${{ matrix.arch }} with config ${{ matrix.config }}
    runs-on: ${{ matrix.os }}
    env:
      CI: "1"
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python: "3.10"
            arch: Linux-x86_64
            config: default
          - os: ubuntu-latest
            python: "3.12"
            arch: Linux-x86_64
            config: default
          - os: ubuntu-latest
            python: "3.12"
            arch: Linux-x86_64
            config: binary
          - os: macos-13
            python: "3.11"
            arch: MacOSX-x86_64
            config: binary
          - os: macos-14
            python: "3.12"
            arch: MacOSX-arm64
            config: minimal
          # The ACT tools (e.g. libactpol_deps) does not compile yet on
          # macos arm64.  Disable this test for now.
          # - os: macos-14
          #   python: "3.12"
          #   arch: MacOSX-arm64
          #   config: default
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Conda Base
        run: |
          rm -rf /usr/share/miniconda
          rm -rf /usr/local/miniconda
          ./tools/bootstrap_base.sh ~/conda ${{ matrix.arch }}

      - name: Check Conda Config
        run: |
          source ~/conda/etc/profile.d/conda.sh &&
          conda activate base &&
          conda info &&
          conda list &&
          conda config --show-sources &&
          conda config --show

      - name: Install
        run: |
          source ~/conda/etc/profile.d/conda.sh &&
          conda activate base &&
          pyver=${{ matrix.python }} &&
          sed -i -E "s/python=3\.[[:digit:]]+.*/python=${pyver}/" ./config/${{ matrix.config }}/packages_conda.txt &&
          cat ./config/${{ matrix.config }}/packages_conda.txt &&
          ./soconda.sh -e soconda -v CI -c ${{ matrix.config }}

      - name: Run Tests
        run: |
          source ~/conda/etc/profile.d/conda.sh &&
          conda activate "soconda_CI" &&
          export OMP_NUM_THREADS=2 &&
          export MPI_DISABLE=1 &&
          export CI=1 &&
          python3 -c 'import scipy; import toast' &&
          python3 -c 'import so3g; from spt3g import core' &&
          python3 -c 'from sotodlib import core' &&
          python3 -c 'import toast.tests; toast.tests.run()' &&
          git clone --depth=1 --single-branch --branch=master https://github.com/simonsobs/sotodlib.git &&
          pushd sotodlib &&
          mkdir -p test_run &&
          pushd test_run &&
          python3 -m pytest -vv ../tests &&
          popd &&
          popd &&
          unset MPI_DISABLE &&
          unset OMP_NUM_THREADS
