name:  Test Build

on: workflow_dispatch

jobs:
  test:
    name: Tests on ${{ matrix.arch }} with Conda Python-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    env:
      CI: "1"
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python: "3.10"
            arch: Linux-x86_64
          - os: ubuntu-latest
            python: "3.11"
            arch: Linux-x86_64
          - os: macos-latest
            python: "3.10"
            arch: MacOSX-x86_64
          - os: macos-latest
            python: "3.11"
            arch: MacOSX-x86_64
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Conda Base
        run: |
          rm -rf /usr/share/miniconda
          ./tools/bootstrap_base.sh ~/conda
          source ~/conda/etc/profile.d/conda.sh
          conda activate base

      - name: Check Conda Config
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show

      - name: Install
        run: |
          pyver=${{ matrix.python }}
          sed -i -e "s/python=3\.10/python=${pyver}/" ./config/default/packages_conda.txt
          cat ./config/default/packages_conda.txt
          ./soconda.sh -e soconda -v CI

      - name: Run Tests
        run: |
          conda activate "soconda_CI"
          export OMP_NUM_THREADS=2
          export MPI_DISABLE=1
          export CI=1
          python3 -c 'import toast.tests; toast.tests.run()'
          git clone --depth=1 --single-branch --branch=master https://github.com/simonsobs/sotodlib.git
          pushd sotodlib
          python3 setup.py test
          popd
          unset MPI_DISABLE
          unset OMP_NUM_THREADS
